*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
.flex_2{
	border:5px solid gray;
	margin:60px 30px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.one{
	background-color:skyblue;
	padding:6px;
	margin:7px;
	width:380px;
	height:210px;
}
.flex_1{
	border:5px solid gray;
	margin:60px 30px;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
}
.one_1{
	background-color:skyblue;
	padding:6px;
	margin:7px;
	width:380px;
	height:210px;
}
	
.flex{
	background-color:rgb(87,176,198);
	display:flex;
	border:5px solid gray;
	margin:50px 30px;
	height:400px;
	justify-content:center;
	align-items:center;
}
.two{
	background-color:tomato;
	margin:7px;
	padding:6px;
	color:white;
	width:100px;
	height:50px;
	text-align:center;
	font-family:cursive;
}
.flex_0{
	background-color:rgb(87,176,198);
	display:flex;
	border:5px solid gray;
	margin:50px 30px;
	height:400px;
	justify-content:center;
	align-items:right;
}
.three{
	background-color:green;
	margin:7px;
	padding:6px;
	color:white;
	width:100px;
	height:50px;
	text-align:center;
	font-family:cursive;
	
	
	
	
